@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: monospace !important;
}

.markdown-body {
    font-family: monospace !important;
}

.article-summary h1 .anchor,
.article-summary h2 .anchor,
.article-summary h3 .anchor,
.article-summary h4 .anchor,
.article-summary h5 .anchor,
.article-summary h6 .anchor {
    display: none !important;
}
